@media screen and (max-width: 767px) {

    .desktop-header,
    .desktop-main,
    .desktop-footer {
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .mb-header-wrapper {
        position: relative;
        z-index: 208;
        font-family: inherit;
        font-size: 12px;
        line-height: 1em;
        min-width: 200px;
    }

    .mb-primary-nav {
        display: flex;
        position: relative;
        z-index: inherit;
        height: 48px;
        width: 100%;
        border-bottom: 1px solid #232f3e;
        background-color: #232f3e;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .mb-primary-left {
        flex-shrink: 0;
        flex-flow: row nowrap;
        display: flex;
        position: relative;
        width: auto;
        font-family: inherit;
        font-size: 12px;
        line-height: 12px;
    }

    .mb-hamburger-wrapper {
        padding: 14px 14px;
        font-size: 12px;
        line-height: 12px;
    }

    .mb-hamburger-icon {
        width: 20px;
        height: 20px;
        display: block;
        background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
        background-size: 275px;
        background-position: -20px -378px;
        background-repeat: no-repeat;
        text-indent: -500px;
    }

    .mb-primary-logo-wrapper {
        margin-left: auto;
        position: relative;
        margin-top: 13px;
    }

    .mb-primary-logo-link {
        display: inline-block;
    }

    .mb-logo-icon {
        background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
        background-size: 275px;
        background-position: -185px -236px;
        padding: 10px 40px 0 20px;
        width: 80px;
        height: 28px;
        text-indent: -500px;
        background-repeat: no-repeat;
        display: inline-block;
    }

    .mb-logo-tail {
        display: inline-block;
        background-position: -160px -209px;
        width: 14px;
        height: 16px;
        margin: 1px 0 0 1px;
        font-size: 13.5px;
        line-height: 14px;
        padding-top: 1px;
        color: white;
        position: absolute;
    }

    .mb-primary-right {
        display: flex;
        position: relative;
        flex-flow: row wrap;
        min-width: 60px;
    }

    .mb-signin-container .mb-siginin-text {
        display: flex;
        margin-left: 10px;
        line-height: 48px;
        font-size: 13px;
        color: #fff;
    }

    .mb-user-icon-wrapper {
        display: flex;
        padding: 9px 0 12px 4px;
        position: relative;
        width: 39px;
    }

    .mb-user-icon {
        background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
        background-size: 275px;
        display: block;
        background-position: -141px -300px;
        width: 35px;
        height: 27px;
        text-indent: -500px;
        overflow: hidden;
    }

    .mb-cart-container {
        display: flex;
        padding: 10px 18px 11px 7px;
    }

    .mb-cart-wrapper {
        width: 37px;
    }

    .mb-cart-icon {
        background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
        background-position: -10px -240px;
        background-size: 275px;
        width: 37px;
        height: 27px;
        display: inline-block;
    }

    .mb-cart-count {
        display: block;
        padding: 0 0 0 6px;
        font-size: 16px;
        color: #f08804;
        text-align: center;
        font-size: 16px;
        line-height: 10px;
        font-family: var(--font-bold);
    }

    .mb-searchbar-container {
        display: flex;
        height: 50px;
        font-size: 12px;
        line-height: 12px;
    }

    .mb-searchbar-wrapper {
        background-color: #232f3e;
        padding: 2px 10px 5px 10px;
        position: relative;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        margin-bottom: 0;
        flex: 1;
    }

    .mb-searchbar-left-section {
        overflow: hidden;
        white-space: nowrap;
    }

    .mb-search-field {
        border-radius: 8px 12px 12px 8px;
        height: 44px;
        margin: 0;
        position: relative;
        background: #fff;
        white-space: nowrap;
    }

    .mb-search-field input {
        border-radius: 8px 12px 12px 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 95px 0 10px;
        font-size: 15px;
        border: 0;
        outline: 0;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5), inset 0 1px 0 0 rgba(0, 0, 0, .07);
    }

    .mb-searchbar-right-section {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
    }

    .mb-search-icon-wrapper {
        position: relative;
        height: 44px;
        width: 50px;
        margin: 2px 10px 5px 5px;
        border: 0;
        cursor: pointer;
        background: #febd69;
        border-radius: 8px 8px 8px 8px;
    }

    .mb-search-icon-wrapper input {
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        background-color: transparent;
        text-indent: -1000px;
        line-height: 1px;
    }

    .mb-search-icon-wrapper i {
        background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
        background-size: 275px;
        position: absolute;
        top: 10px;
        left: 12px;
        background-position: -73px -239px;
        background-repeat: no-repeat;
        width: 27px;
        height: 25px;
        filter: invert(100%);
    }

    .mb-location-nav-container {
        background-color: #364659;
        height: 44px;
        width: 100%;
    }

    .mb-location-holder {
        padding: 12px 10px 12px 10px;
        height: 100%;
        width: 100%;
    }

    .mb-location-icon {
        background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
        background-size: 275px;
        background-position: -75px -340px;
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 5px;
        background-repeat: no-repeat;
    }

    .mb-location-text-wrapper {
        height: 20px;
        display: inline-block;
        width: 85%;
    }

    .mb-location-text {
        font-size: 13px;
        line-height: 20px;
        color: #FFF;
        font-family: inherit;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .mobile-main {
        display: block;
        width: 100vw;
        position: relative;
    }

    .mb-main-wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 0;
        align-items: stretch;
        justify-items: stretch;
        overflow: visible;
        align-content: flex-start;
        width: calc(100vw - 8px + 4px);
        margin: 0 0 0 4px;
        padding-right: 4px;
        grid-auto-flow: dense;
    }

    .mb-filter-tab {
        margin-left: -4px;
        margin-right: -4px;
        padding-left: 0;
        padding-right: 0;
        position: sticky;
        top: 0;
        z-index: 20;
        overflow-x: hidden;
        transition: transform .2s linear;
        grid-column: 1 / -1;
        border-bottom: 0;
        margin-bottom: 0;
    }

    .mb-filter-tab-container {
        margin-bottom: 8px;
    }

    .mb-filter-tab-wrapper {
        min-height: 0;
        height: 48px;
        display: flex;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(17, 17, 17, .15);
        padding: 0;
        transition: .2s linear;
        margin-bottom: 0;
    }

    .mb-filter-left {
        display: flex;
        align-items: center;
        overflow: auto;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }

    .mb-prime-container {
        padding-left: 8px;
        margin-right: 4px;
        flex-shrink: 0;
        white-space: nowrap;
        margin-bottom: 0;
    }

    .mb-prime-wrapper {
        white-space: nowrap;
    }

    .mb-prime-holder {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        margin-inline-start: 4px;
        padding: 6px 0;
    }

    .mb-prime-icon-holder {
        vertical-align: middle;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
    }

    .mb-prime-icon {
        display: inline-block;
        margin-inline-end: 4px;
        width: 42px;
        height: 12px;
        background-image: url(https://m.media-amazon.com/images/S/sash/IAiggOMz$2G$3oR.png);
        background-position: -277px -224px;
        vertical-align: baseline;
        margin-bottom: -1.75px;
        background-size: 512px 256px;
        background-repeat: no-repeat;
    }

    .mb-prime-toggle-container {
        line-height: 0;
        vertical-align: middle;
        display: inline-block;
        font-size: 14px;
        white-space: nowrap;
        margin-left: -4px;
    }

    .mb-prime-toggle-container::after {
        content: url(https://m.media-amazon.com/images/S/sash/J86UBa3MBZb1CXv.svg);
        line-height: 0;
        font-size: 14px;
        white-space: nowrap;
    }

    .mb-brand-filters {
        margin-right: 4px;
        flex-shrink: 0;
        white-space: nowrap;
        margin-bottom: 0;
    }

    .mb-brand-filter-container {
        white-space: nowrap;
    }

    .mb-brand-filter-wrapper {
        margin-right: 4px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
        border-radius: 8px;
        background-color: #e7f4f5;
        border-color: #c7e4e8;
        width: auto;
        border: 1px solid #c7e4e8;
        text-align: center;
        vertical-align: bottom;
    }

    .mb-brand-filter-text {
        font-size: 14px !important;
        line-height: 20px !important;
        max-width: 115px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: text-bottom;
        color: #2162a1;
    }

    .mb-filter-right {
        margin-bottom: 0;
    }

    .mb-filter-right-wrapper {
        white-space: nowrap;
    }

    .mb-filter-object-container {
        background-color: white;
        border-color: #c7e4e8;
        height: 46px;
        border-radius: 0;
        border: 0;
        margin: 0;
        padding: 0 12px;
        box-shadow: inset 1px 0 0 0 #e6e6e6;
        outline: 0;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none !important;
        vertical-align: middle;
        white-space: nowrap;
    }

    .mb-filter-object-button-wrapper {
        color: #007185;
        border-radius: 99px;
        background: 0 0;
        box-shadow: none;
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden;
        text-align: center;
    }

    .mb-filter-button {
        background-color: white;
        width: 100%;
        height: 100%;
        display: block;
        padding: 11px 16px;
        margin: 0;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        background-color: transparent;
        border: 0;
        outline: 0;
    }

    .mb-filter-button-wrapper {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #007185;
    }

    .mb-filter-text-1 {
        font-size: 14px;
        line-height: 20px;
        color: #007185;
        text-align: center;
    }

    .mb-filter-text-2 {
        font-size: 14px;
        line-height: 20px;
        margin-left: 6px;
    }

    .mb-filter-text-arrow {
        margin-left: 6px;
        width: 10px;
        height: 10px;
        margin-top: 2px;
        transform: rotate(0);
        transform-origin: center 40%;
    }

    .mb-filter-text-arrow::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 2px;
        top: 50%;
        right: 50%;
        margin-right: -1px;
        margin-top: -1px;
        background-color: #007185;
        transform-origin: 4px 1px;
        transform: rotate(45deg);
        font-size: 16px;
    }

    .mb-filter-text-arrow::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 2px;
        top: 50%;
        left: 50%;
        margin-left: -1px;
        margin-top: -1px;
        background-color: #007185;
        transform-origin: 1px 1px;
        transform: rotate(-45deg);
    }

    .mb-leading-text-container {
        margin-bottom: 4px;
        padding: 0 4px;
        height: calc(100% - 4px);
        grid-column: 1/-1;
    }

    .mb-leading-text {
        font-size: 12px;
        line-height: 16px;
        color: #565959;
    }

    .mb-card {
        grid-column: auto/span 12;
        min-width: 0;
        width: auto;
        display: block;
        overflow: visible;
    }

    .mb-card-container {
        padding: 0 4px;
        height: 100%;
    }

    .mb-card-wrapper {
        margin-bottom: 8px;
        height: calc(100% - 8px);
    }

    .mb-card-liner {
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        transform: translate3d(0, 0, 0);
        position: relative;
        overflow: hidden;
    }

    .mb-card-contents-container {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        width: auto;
        min-width: 0;
        padding: 0;
        margin: 0 -8px 0 -4px;
        overflow: visible;
    }

    .mb-card-left {
        outline: 0;
        position: relative;
        display: block;
    }

    .mb-card-left-wrapper {
        display: block;
        width: calc(.41667 * (100vw - 8px));
        overflow: visible;
        height: 100%;
    }

    .mb-card-left-liner {
        display: flex;
        flex-direction: column;
        padding: 0 4px;
        height: 100%;
    }

    .mb-bestseller-container {
        background: #f8f8f8;
        margin-bottom: 4.92px;
    }

    .mb-bestseller-wrapper {
        margin: 4px 0 0 4px;
        text-decoration: none;
        display: inline-block;

    }

    .mb-bestseller-grid {
        padding: 1px 4px;
        height: 20px;
        align-content: center;
        display: grid;
        border-radius: 4px;
        max-width: 160px;
        background-color: #D14900;
        position: relative;
    }

    .mb-bestseller-text {
        color: white;
        font-size: 13px;
        line-height: 18px;
        height: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        transform: translateY(-1px);
    }

    .mb-image-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        height: 100%;
        position: relative;
        margin-bottom: 0px;
    }

    .mb-image-wrapper {
        margin-bottom: 0;
        position: relative;
        text-align: center;
    }

    .mb-image-wrapper img {
        max-height: 170px;
        vertical-align: top;
        max-width: 100%;
        border: 0;
        overflow-clip-margin: content-box;
        overflow: clip;
        text-align: center;
    }

    .mb-card-right {
        display: block;
        width: calc(.58333 * (100vw - 8px));
        overflow: visible;
    }

    .mb-card-right-liner {
        display: flex;
        flex-direction: column;
        padding: 0 4px;
        height: 100%;
    }

    .mb-card-right-wrapper {
        padding-right: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .mb-card-title-container {
        margin-bottom: 0;
    }

    .mb-card-title-wrapper {
        position: relative;
        display: block;
    }

    .mb-card-title-wrapper p {
        font-size: 14px;
        line-height: 20px;
        -webkit-line-clamp: 3;
        max-height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .mb-card-ratings-container {
        padding-top: 4px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mb-card-ratings-wrapper {
        position: relative;
        display: block;
    }

    .mb-rating-holder {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
    }

    .mb-rating-star-count {
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .mb-rating-star-icon {
        background-image: url(https://m.media-amazon.com/images/S/sash/Zf4KcHNXMx7zzfI.png);
        margin-left: -1px;
        top: -2.7px;
        background-position: -379px -497px;
        background-size: 512px 512px;
        background-repeat: no-repeat;
        vertical-align: bottom;
        height: 12px;
        width: 60px;
        position: relative;
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
    }

    .mb-rating-vote-count {
        font-size: 12px;
        line-height: 16px;
        color: #565959;
        margin-left: -0.1px;
    }

    .mb-rating-tail-text {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
    }

    .mb-rating-tail-text p {
        font-size: 12px;
        line-height: 16px;
        color: #565959;
    }

    .mb-card-price-container {
        padding-top: 4px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mb-card-price-wrapper {
        position: relative;
        display: block;
    }

    .mb-card-price-info-container {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
    }

    .mb-price-holder {
        font-size: 22px;
        text-decoration: none;
        position: relative;
        line-height: normal;
    }

    .mb-price-symbol {
        top: -5.2px;
        font-size: 13px;
        position: relative;
    }

    .mb-original-price-container {
        display: inline-block;
        margin-bottom: 13px;
        font-size: 12px;
        line-height: 16px;
    }

    .mb-price-mrp {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: #565959;
        font-family: Amazon-Ember-Light;
        margin-left: -1px;
    }

    .mb-mrp-text {
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: #565959;
        text-decoration: line-through;
        font-family: Amazon-Ember-Light;
    }

    .mb-discount-text {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: rgb(15, 17, 17);
        font-family: Amazon-Ember-Light;
        margin-left: 1.66px;
    }

    .mb-saving-text-container {
        width: 100%;
        margin-top: -3px;
    }

    .mb-saving-text {
        font-size: 12px;
        line-height: 16px;
        font-family: "Amazon-Ember-Light";
        color: #565959;
        display: inline-block;
        margin-bottom: -1px;
    }

    .mb-card-prime-benefits-container {
        padding-top: 7px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mb-card-prime-benefits-wrapper {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
    }

    .mb-card-prime-icon-container {
        width: 100%;
        margin-bottom: 4px;
        vertical-align: middle;
    }

    .mb-card-prime-icon-wrapper {
        display: inline-block;
        position: relative;
        bottom: -1.5px;
    }

    .mb-card-prime-icon {
        background-image: url(https://m.media-amazon.com/images/S/sash/IAiggOMz$2G$3oR.png);
        background-position: -181px -128px;
        background-size: 512px 256px;
        background-repeat: no-repeat;
        width: 53px;
        height: 15px;
        margin-bottom: -1.75px;
        display: inline-block;
    }

    .mb-card-delivery-date-container {
        margin-bottom: 4px;
        vertical-align: middle;
        width: 100%;
    }

    .mb-normal-text {
        font-size: 12px;
        line-height: 16px;
    }

    .mb-font-bold-text {
        font-size: 12px;
        line-height: 16px;
        font-family: var(--font-bold);
    }

    .mb-card-button-container {
        padding-top: 4px;
        margin-top: 0;
        margin-bottom: 0;
        margin-top: 12px;
    }

    .mb-card-button-container button {
        width: 100%;
        height: 31px;
        border-radius: 99px;
        padding: 4px 12px 5px 12px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}