body {
    overflow-y: scroll;
}

nav {
    width: 100%;
    background-color: #131921;
}

.primary-nav {
    width: 100%;
    background-color: #131921;
    color: var(--text-color-white);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    line-height: 12px;
}

.nav-left {
    height: 60px;
    display: flex;
    font-size: 14px;
    line-height: 12px;
}

.logo-container {
    margin-left: 11px;
    width: auto;
    padding: 4px 0 0 0;
    height: 100%;
    font-size: 14px;
    line-height: 0;
    display: flex;
    position: relative;
    top: 0;
}

.logo-container .logo-wrapper {
    padding: 1px 8px 0 6px;
    margin: 1px;
    width: 100%;
    height: 50px;
    display: flex;
}

.logo-wrapper .icon-holder {
    margin-top: 11px;
    background-image: url('../assets/images/nav-sprite.png');
    background-size: 350px;
    background-position: -9px -125px;
    text-indent: -500px;
    width: 98px;
    height: 34px;
    background-repeat: repeat-x;
    display: flex;
}

.logo-wrapper .logo-tail {
    margin-left: 1px;
    margin-top: 16.5px;
    background-position: -270px -109px;
    font-size: 13.5px;
    line-height: 14px;
    height: 14px;
}

.nav-address-container {
    margin-left: 2px;
    height: 60px;
    display: flex;
}

.nav-address-wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    line-height: 39px;
    margin: 5px 2px 5px 0;
    padding: 0 9px;
}

.nav-address-wrapper .location-icon {
    background-image: url('../assets/images/nav-sprite.png');
    background-size: 350px;
    background-position: -71px -378px;
    background-repeat: repeat-x;
    height: 18px;
    width: 15px;
    margin-top: 20px;
}

.address-text-container {
    margin-left: 3px;
    line-height: 39px;
    color: #d6d6d6;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.address-text-1 {
    color: #ccc;
    margin-top: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    white-space: nowrap;
}

.address-text-2 {
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 1px;
    color: var(--text-color-white);
    font-weight: bold;
    white-space-collapse: collapse;
    font-family: "Amazon-Ember-Bold";
}

.nav-center {
    height: 60px;
}

.search-bar {
    display: flex;
    margin: 0 10px;
    height: 60px;
    padding: 10px 4px 10px 3px;
    width: max-content;
}

.search-bar .select-container {
    height: 40px;
    width: 150.63px;
}

.select-container .select-wrapper {
    height: 40px;
    background-color: #e6e6e6;
    border-radius: 4px 0 0 4px;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px;
}

.select-wrapper .select-text,
.select-wrapper .select-icon {
    font-size: 12px;
    vertical-align: middle;
}

.select-wrapper .select-icon {
    font-size: 10px;
    white-space: nowrap;
    margin-right: -1px;
}

.input-container {
    height: 40px;
}

.input-container input {
    height: 100%;
    border: none;
    padding: 7px 10px 10px 0;
    font-size: 15px;
    line-height: 15px;
    text-indent: 8px;
    width: 100%;
    border-left: 0.01px solid rgb(134, 134, 134);
    position: relative;
    z-index: 8;
    vertical-align: middle;
}

.search-icon {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgb(254, 189, 105);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-icon-wrapper {
    width: 90%;
    height: 90%;
    background-color: rgb(254, 189, 105);
    background-image: url(../assets/images/nav-sprite.png);
    background-position: -2px -280px;
    background-size: 350px;
    background-repeat: repeat-x;
    border-top-right-radius: 4px;
}

.nav-right {
    display: flex;
}

.nav-right-wrapper {
    margin-top: 2px;
    padding: 3px 0 0 0;
}

.nav-right-wrapper .language {
    margin: 1px 2px 1px 2px;
    padding: 0 6px 10px 7px;
    height: 50px;
    line-height: 58px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.language .country-image {
    background: url(../assets/images/flags.png);
    background-size: 194px 295px;
    background-position: 0px -166px;
    width: 24px;
    height: 18px;
    line-height: 15px;
    margin-bottom: 1px;
    margin-right: 2px;
    font-size: 14px;
}

.secondary-nav {
    background-color: #232f3e;
    width: 100%;
    height: 39px;
    color: var(--text-color-white);
    padding-left: 11px;
    display: flex;
    align-items: center;
}

.secondary-left {
    max-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-left a {
    height: 39px;
    padding: 8px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-left a .hamburger-icon {
    background-image: url(../assets/images/nav-sprite.png);
    background-position: -172px -255px;
    background-size: 350px;
    background-repeat: repeat-x;
    width: 17px;
    height: 14px;
    font-size: 25px;
    line-height: 12px;

}

.secondary-left a .secondary-left-text {
    padding-left: 5px;
    font-size: 14px;
    line-height: 12px;
    font-weight: bold;
    font-family: "Amazon-Ember-Bold";
    color: var(--text-color-white);
}

.secondary-right {
    max-height: 39px;
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}

.secondary-right .items-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    padding-left: 0;
    max-height: 39px;
    align-items: flex-end;
    overflow: hidden;
}

.secondary-right .items-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}

.secondary-right .items-wrapper ul li {
    font-size: 12px;
    line-height: 12px;
}

.secondary-right .items-wrapper ul li div {
    display: flex;
    padding: 0 5px;
    vertical-align: middle;
    height: 100%;
    justify-content: center;
    align-items: start;
}

.secondary-right .items-wrapper ul li div a {
    font-size: 14px;
    margin: 5px 0 6px 0;
    padding: 8px 5px;
    /* height: 12px; */
}

.drop-down-link-button {
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    border-bottom-width: 0;
    width: 8px;
    background-color: #232f3e;
    margin-top: 18px;
    border-style: solid;
}

.tertiary-nav {
    width: 100%;
    background-color: #131921;
}

.tertiary-nav-wrapper {
    background-color: white;
    height: 50px;
    box-shadow: 0 0 1px #ddd;
    padding: 0 9px 0 15px;
    border-top: 1px solid rgba(0, 0, 0, .17);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.tertiary-nav-wrapper a {
    height: 48px;
    line-height: 50px;
    padding: 0 1.65%;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: #333;
    text-wrap-mode: nowrap;
}

.tertiary-nav-wrapper .electronics-image {
    padding: 0 13px;
}

.tertiary-nav-wrapper a img {
    height: 50px;
    vertical-align: baseline;
    padding-top: 5px;
    width: auto;
}

.results-heading-wrapper {
    width: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.child-left {
    margin: 10px 0;
}

.child-left p {
    font-size: 14px;
    line-height: 20px;
}

.child-right {
    margin: 8px 0;
}

.right-button {
    background-color: #f0f2f2;
    border-radius: 8px;
    display: flex;
    width: 134px;
    height: 24px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #d5d9d9;
    vertical-align: middle;
    margin-right: 5px;
}

.right-button .button-text {
    font-size: 11px;
}

.right-button .right-button-icon {
    background-image: url(../assets/images/arrows);
    background-position: -7px -102px;
    width: 10px;
    height: 8px;
    background-size: 400px 900px;
    margin-top: -1px;
}

.best-selling {
    margin-left: 3px;
}

.content {
    width: 100%;
    padding-top: 0.1px;
}

.main-content-wrapper {
    max-width: 1800px;
    padding-top: 14px;
    min-width: 996px;
    width: calc(100vw - 28px + 4px);
    margin: 0 auto;
    margin-top: 8px;
    display: flex;
}

.sidebar {
    width: calc(0.2 * (100vw - 28px));
    min-width: 199.2px;
    max-width: 359.2px;
    margin-left: 4px;
    padding-right: 12px;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 4px;
    padding-top: 0;
    margin-top: 0;
}

.delivery-day-container {
    width: 100%;
}

.delivery-day-heading-wrapper {
    margin-bottom: 8px;
}

.delivery-day-heading-wrapper p {
    font-size: 14px;
    line-height: 16px;
    font-family: "Amazon-Ember-Bold";
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.checkbox-item input {
    border-radius: 4px;
    width: 16px;
    height: 16px;
    margin-top: -4px
}

.checkbox-item p {
    font-size: 14px;
    line-height: 16px;
    margin-left: 5px;
}

.category-container {
    margin-top: 16px;
}

.category-heading-wrapper {
    margin-bottom: 8px;
}

.category-heading-wrapper p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.electronics {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.electronics-arrow {
    font-size: 14px;
    line-height: 16px;
}

.electronics p {
    font-size: 14px;
    line-height: 16px;
    margin-left: 4px;
}

.mobile-heading {
    margin-left: 12px;
    margin-bottom: 4px;
}

.mobile-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.mobile-items p {
    font-size: 14px;
    line-height: 16px;
    margin-left: 24px;
    margin-bottom: 4px;
}

.brands-container {
    margin-top: 16px;
}

.brand-heading {
    margin-bottom: 8px;
}

.brand-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.clear-button {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}

.clear-button p {
    margin-left: 4px;
}

.brand-item {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}

.brand-item input {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-top: -4px;
}

.brand-item label {
    font-size: 14px;
    line-height: 16px;
    margin-left: 5px;
}

.see-more-container {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
}

.see-more-container p i {
    font-weight: bolder;
    font-size: 15px;
}

.see-more-text {
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-blue);
    margin-left: 2px;
}

.customer-ratings-container {
    margin-bottom: 16px;
}

.customer-ratings-heading-wrapper {
    margin-bottom: 8px;
}

.customer-ratings-heading-wrapper p {
    font-size: 14px;
    line-height: 16px;
    font-family: "Amazon-Ember-Bold";
}

.stars-container {
    display: flex;
}

.stars-wrapper {
    width: 95px;
}

.stars-wrapper .stars {
    color: #de7921;
}

#twoStar,
#threeStar,
#fourStar,
#fiveStar {
    margin-left: -3px;
}

.stars-up-text {
    font-size: 12px;
    line-height: 16px;
    margin-left: 4.5px;
    margin-top: 2px;
    vertical-align: middle;
}

.condition-heading {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
    margin-bottom: 8px;
    transform: translateY(2px);
}

.condition-container {
    margin-top: 2px;
}

.condition-status {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
    transform: translateY(2px);
}

.price-container {
    margin-top: 18px;
    margin-bottom: 16px;
}

.price-heading {
    margin-bottom: 4px;
}

.price-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.price-range-text-container {
    padding: 4px 0 2px 0;
    margin-bottom: 4px;
}

.price-range-text-container p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.price-range-hyphen {
    margin-right: 1px;
}

.min-bound,
.max-bound {
    font-family: var(--font-bold);
}

.price-slider-container {
    height: 50px;
    display: flex;
    margin-bottom: 4px;
}

.discount-wrapper {
    margin-top: 12px;
}

.discount-heading {
    margin-bottom: 8px;
}

.discount-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.discount-items p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.pay-on-delivery {
    margin-bottom: 16px;
}

.discount-off {
    margin-top: 16px;
}

.discount-off-heading {
    margin-bottom: 8px;
}

.discount-off-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.discount-offers li {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.discount-offers :last-child {
    color: #565959;
}

.new-arrivals {
    margin-top: 16px;
}

.arrival-heading {
    margin-bottom: 8px;
}

.arrival-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.arrival-leading {
    margin-bottom: 4px;
}

.arrival-leading p {
    font-size: 14px;
    line-height: 16px;
}

.seller {
    margin-top: 16px;
}

.seller-heading {
    margin-bottom: 8px;
}

.seller-heading p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-bold);
}

.main-section-right {
    width: calc(.8 * (100vw - 28px));
    min-width: 796.8px;
    max-width: 1436.8px;
}

.product-result-container {
    padding: 0 4px;
    margin-bottom: 4px;
}

.product-result-container h2 {
    font-size: 20px;
    line-height: 28px;
    font-family: var(--font-bold);
}

.product-result-container p {
    font-size: 14px;
    line-height: 20px;
    color: #565959;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.card-container {
    grid-column: auto / span 4;
    margin-bottom: 8px;
    max-width: 359.2px;
    min-width: 0;
    height: 100%;
}

.card-wrapper {
    padding: 0 4px;
    margin-bottom: 8px;
    height: calc();
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}

.card-container .image-container {
    margin-bottom: 12px;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-direction: column
}

.card-container .image-container .image-wrapper {
    margin-bottom: 0;
    padding-top: 100%;
    position: relative;
}

.card-container .image-container .image-wrapper img {
    max-width: 100%;
    margin: auto;
    max-height: 100%;
    position: absolute;
    inset: 0;
}

.card-details {
    padding: 0 8px;
    margin-bottom: 8px;
    margin-top: -4px;
}

.card-details .title {
    margin-top: 8px;
    margin-bottom: 0;
}

.card-details .title p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-details .ratings-container {
    padding-top: 4px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.card-container .ratings-container .ratings {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.card-container .ratings-container .ratings .stars {
    background-image: url(../assets/images/card-sprite);
    background-size: 512px 512px;
    background-repeat: no-repeat;
    height: 18px;
    width: 80px;
    position: relative;
    vertical-align: baseline;
    align-self: flex-end;
    transform: translateY(1px);
}

.card-container .ratings-container .ratings .arrow {
    background-image: url(../assets/images/card-sprite);
    background-position: -429px -357px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: text-top;
    transform: translateY(1px);
}

.buy-count {
    font-size: 12px;
    line-height: 16px;
    margin-left: 3px;
}

.buy-count .buy-count-text {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-blue);
}

.rating-tail-text {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 1px;
}

.rating-tail-text p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: var(--text-color-grey);
}

.product-price-container {
    margin-top: 8px;
    margin-bottom: 0;
}

.product-price-container .price-info {
    display: flex;
    align-items: center;
}

.price-info p {
    font-size: 28px;
}

.price-info .rupee-symbol {
    font-size: 13px;
    text-align: start;
    position: relative;
    top: -9.75px;
}

.mrp,
.mrp-tail {
    color: var(--text-color-grey);
    font-size: 14px;
}

.mrp-tail {
    font-size: 13px;
    text-decoration: line-through;
}

.price-info .discount-percent {
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
}

.price-additional-info {
    margin-top: 10px;
    margin-left: 3px;
}

.price-info-tail p {
    font-size: 14px;
    color: var(--text-color-grey);
    line-height: 18.2px;
}

.prime {
    padding: 4px;
    margin-top: 9.5px;
}

.prime-image {
    background-image: url(../assets/images/prime-sprite);
    background-position: -181px -128px;
    background-size: 512px 256px;
    width: 53px;
    height: 15px;
    margin-bottom: -1.75px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: -4px;
}

.delivery-date {
    width: 100%;
    margin-top: 3px;
}

.delivery-date p,
.delivery-date-fast p {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: -4px;
}

.delivery-date p {
    margin-top: 4px;
}

.delivery-date p .date,
.delivery-date-fast p .date {
    font-family: var(--font-bold);
}

.service-installation {
    width: 100%;
}

.service-installation p {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-grey);
}

.cart-button-container {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
}

.add-to-cart-button {
    padding: 0 12px;
    font-size: 13px;
    height: 30px;
    border-radius: 99px;
    letter-spacing: 0.01px;
}

.card-container .image-container::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    position: absolute;
    inset: 0;
}

.pagination {
    width: 100%;
    margin-top: 8px;
    padding: 0 4px;
    margin-bottom: 0 !important;
    transform: translateY(60px);
}

.pagination-wrapper {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, .1);
}

.pagination-wrapper ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 46px;
    padding: 0 12px;
    min-width: 24px;
    height: 46px;
    position: relative;
    box-sizing: content-box;
    border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9;
}

.pagination-wrapper ul li span {
    box-sizing: content-box;
}

.pagination-previous-button {
    border-left: 1px solid #d5d9d9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #6f7373;
    min-width: 70px !important;
}

.pagination-previous-button .previous svg {
    margin-top: 16px;
    margin-right: 3px;
    vertical-align: top;
    fill: #6f7373
}

.pagination-selected {
    border: 1px solid black !important;
    padding: 0 11px !important;
    font-weight: bold;
}

.trailing-dots {
    display: inline-block;
    line-height: 46px;
    padding: 0 12px;
    height: 46px;
    position: relative;
    box-sizing: content-box;
    border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9;
}

.trailing-dots svg {
    min-width: 10px;
    fill: #6f7373;
    vertical-align: top;
    margin-top: 22px;
}

.pagination-last {
    color: #6f7373;
}

.pagination-next-button {
    padding-left: 13px !important;
    min-width: 69px !important;
    border-right: 1px solid #d5d9d9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
}

.pagination-next-button .next svg {
    margin-top: 16px;
    margin-left: 4px;
    vertical-align: top;
}